{# Vue du layout général de NaitUp Share 05/01/18 #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}NaïtUp Share{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rechercher">
                    </div>
                    <button type="submit" class="btn btn-default">GO!</button>
                </form>
            </div>
        </nav>

        <div class="container">
            <div id="header" class="jumbotron">
                <h1>NAITUP SHARE</h1>
                <p>Test module de location NU</p>
            </div>
        </div>

        <div class="row">
            <div id="menu" class="col-md-3">
                <h3>Les annonces</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('bc_platform_home') }}">Accueil</a></li>
                    <li><a href="{{ path('bc_platform_add') }}">Ajouter une annonce</a></li>
                </ul>

                <h4>Dernières annonces</h4>
                {{ render(controller("BCPlatformBundle:Advert:menu", {'limit': 4})) }}
            </div>
            <div id="content" class="col-md-9">
                {% block body %}
                {% endblock %}
            </div>
            <hr>
            {#<div class="row">#}
                {#<div class="col-sm-6 col-md-4">#}
                    {#<div class="thumbnail">#}
                        {#<img src="images/QT.jpg" alt="...">#}
                        {#<div class="caption">#}
                            {#<h3>Thumbnail label</h3>#}
                            {#<p>...</p>#}
                            {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-sm-6 col-md-4">#}
                    {#<div class="thumbnail">#}
                        {#<img src="..." alt="...">#}
                        {#<div class="caption">#}
                            {#<h3>Thumbnail label</h3>#}
                            {#<p>...</p>#}
                            {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-sm-6 col-md-4">#}
                    {#<div class="thumbnail">#}
                        {#<img src="..." alt="...">#}
                        {#<div class="caption">#}
                            {#<h3>Thumbnail label</h3>#}
                            {#<p>...</p>#}
                            {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-sm-6 col-md-4">#}
                    {#<div class="thumbnail">#}
                        {#<img src="/var/www/html/NU/src/BC/images/QT.jpg" alt="">#}
                        {#<div class="caption">#}
                            {#<h3>Thumbnail label</h3>#}
                            {#<p>...</p>#}
                            {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        <footer>
            <p>Work in progress {{ 'now'|date('d/m/Y') }}</p>
        </footer>
        </div>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>