body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #6B6863;
}
main {
    flex: 1 0 auto;
}
#formconnexion {
    background-color: #fff;
  }
/************************************************** HEADER ************************************************************/
#navheader {
    height: 10em;
    width: 100%;
    background-color: #fff;
}

#mainlogo {
    width: 12em;
    height: auto;
}

/**************************************************** FOOTER *********************************************************/
#mainfooter {
    background-color: #4e4c49;

}

#secondfooter {
    background-color: #6B6863;
}

/***************************************************** BODY ***********************************************************/

#sidemenu {
    background-color: pink;
}

#photoview {
    width: 450px;
    height: auto;
}

#viewadvert {
    background-color: #fff;
}

#buttonsaction {
    background: #fff;
}
#lastsadverts {
    background-color: #FF5252;
}
/*************************************************** MAP **************************************************************/

#mapid {
    height: 250px;
    width: 450px;
    margin: auto;
}