{# Vue du formulaire pour ajouter une annonce #}
{% extends "BCPlatformBundle::layout.html.twig" %}
{% block body %}
    {{ include("BCPlatformBundle:Advert:form.html.twig") }}
    <div class="row center-align">
        <div class="col m4 offset-m4">
            <p>
                <span class="red-text"><i class="material-icons left">warning</i></span>
                Votre annonce sera ajoutée automatiquement après validation
                <span class="red-text"><i class="material-icons right">warning</i></span>
            </p>
        </div>
    </div>
{% endblock %}