{# Vue du formulaire pour ajouter une annonce #}
{% extends "BCPlatformBundle::layout.html.twig" %}
{% block body %}
    {{ include("BCPlatformBundle:Advert:form.html.twig") }}
    <div class="row center-align">
        <div class="offset-s3">
            <p>
                <i class="material-icons left">warning</i>
                Votre annonce sera ajoutée automatiquement après la validation du formulaire
                <i class="material-icons right">warning</i>
            </p>
        </div>
    </div>
{% endblock %}