{# Vue menu test 04/01/18 #}

<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('bc_platform_view', {'id': advert.id}) }}">
                <span class="black-text">{{ advert.title }}</span>
            </a>
        </li>
    {% endfor %}
</ul>